@model IEnumerable<VacationManager.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Roles</h1>
<div>
    <h4>CEO</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {@if (user.Role == 3)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Role)
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>

    <h4>Managers</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {@if (user.Role == 2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Role)
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>


    <h4>Developers</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {@if (user.Role == 1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Role)
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>

    <h4>Unassigned</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {@if (user.Role == 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Role)
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>
</div>

